.nav-links{
    display: flex;
    justify-content: space-around;
    width: 25%;
}
.nav-item{
    text-decoration: none;
    color: #2d3436;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
}
.nav-item:hover{
    color: #d63031;
}
.nav-links > .active{
    color: #d63031;
    text-decoration: underline #d63031;
}
.imgBg{
    position: absolute;
    z-index: -1;
    background-image: url("https://images.unsplash.com/photo-1682685797898-6d7587974771?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 45vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-group{
    width: 35%;
    margin: auto;
    margin-top: 10%;
}
.card-group > .card{
    margin: 10px;
    width: 250px;
    align-items: center;
    padding: 15px 0;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(255, 255, 255, 0.01);
}
.img-agence{
    margin: 25px;
    width: 200px !important;
    height: 200px;
    object-fit: cover;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnVoirPlus{
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 20px;
    font-size: larger;
    font-weight: 500;
}

.missions{
    display: flex;
    /* border: 1px solid #d63031; */
    width: 60vw;
    margin: auto;
    margin-top: 5%;
    justify-content: space-around;
}
.missions > .mission-item{
    width: 40%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1em;    
}
.missions > .mission-item > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.objectifs{
    height: 100vh;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
}
.objectif{
    background-color: white;
    width: 40vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
}
.objectif > .objectif-item{
    background-color: white;
    width: 100%;
    height: 250px;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.objectif > .objectif-item > img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}
.objectif > .objectif-item > p{
    width: 50%;
    height: 100%;
}
.localisation{
    width: 100%;
    justify-content: center;
    padding: 5%;
    border: 1px solid #d63031;
}

.localisation  .info-addresse{
    margin: auto;
    margin-top: 5%;
    align-items: start;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}